<div class="footer">
  <div class="footer-copyright">
    <div class="footer-image">
      <%= image_tag 'macaron-footer-logo2-1.png', style:'max-width: 230px'%>
    </div>
    <div class="footer-nav-links">
      <ul class="footer-nav">
        <li class="nav">
          <%= link_to "ABOUT", "/pages/about" %>
        </li>
        <li class="nav-item">
          <%= link_to "MACARON", "/pages/macaron" %>
        </li>
        <li class="nav-item">
          <%= link_to "HOME DELIVERY", "/pages/homedelivery"%>
        </li>
        <li class="nav-item">
          <%= link_to "WHERE TO FIND US", "/pages/wheretofindus"%>
        </li>
        <li class="nav-item">
          <%= link_to "CONTACT & ORDERS", "/contact/new" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-contact">
    <div class="footer-text">
      <p>FOR ENQUIRIES OR TO PLACE AN ORDER, PLEASE <%= link_to "CLICK HERE", "/pages/contactorders", class:'footer-text'%></p>
    </div>
    <div class="footer-links">
      <a href="mailto:macaron.monsieur@gmail.com"><i class="fas fa-envelope-square fa-1x"></i></a>
      <a href="https://www.instagram.com/monsieurmacaron/"><i class="fab fa-instagram-square"></i></i></a>
      <a href="https://www.facebook.com/mrmacnz"><i class="fab fa-facebook-square"></i></a>
      <a href="tel:+64 210 822 0001"><i class="fas fa-phone-square-alt"></i></a>
    </div>
  </div>
</div>


