<div class="home">
  <div class="parallax-window">
    <%= image_tag 'del1.jpg' %>
    <div class="text">
      <p>Home Delivery</p>
      <h3>Every Saturday we deliver across<br> Hawkes Bay</h3>
      <div class="button">
        <a href="/contact/new">Join Now</a>
      </div>
    </div>
  </div>
</div>
<div class="container-macaron">
  <div class="photo-left">
    <div class="photo">
      <%= image_tag 'hand.png', height: '700px'%>
    </div>
    <div class="text-box">
      <div id='boxinside-del'>
        <div class='boxtext-delivery'>
          <h3>AN OBESSION WITH FRESHNESS</h3><br>
          <p><b>Every Saturday we deliver</b> to all Hawke's Bay suburbs between Bay View and Hastings,<br> directly <b>to your door.</b><br><br>
          Our home delivery service is our "MERCI" to be part of the Hawke's Bay Community. Free delivery, cheaper than town, obsessed by the perfect baking and the freshness. First in, First Served. Limited to the first 50 hours. Give it a try - you'll amazingly be well suprised by our service and our baking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pay">
  <h1>Home Delivery</h1>
  <h3>✨ Saturday in Hawkes Bay ✨</h3>
  <div class="biege">
    <div class="home-del-info">
      <div class="info">
        <div class="info-specific">
          <%= image_tag 'one.png', height:'35px' %>
          <%= image_tag 'text.png', height:'100px' %>
          <p>Text Me</p>
          <p>Name & Address<br>02108220001</p>
        </div>
        <div class="info-specific">
          <%= image_tag 'two.png', height:'35px' %>
          <%= image_tag 'email.png', height:'100px' %>
          <p>Receive</p>
          <p>Booking Link<br><b>Thursday 6PM</b></p>
        </div>
        <div class="info-specific">
          <%= image_tag 'three.png', height:'35px' %>
          <%= image_tag 'submit.png', height:'100px' %>
          <p>Click & Order</p>
          <p>Your Favorite<br>French Baking</p>
        </div>
        <div class="info-specific">
          <%= image_tag 'four.png', height:'35px' %>
          <%= image_tag 'safe.png', height:'100px' %>
          <p>Contactless Payment</p>
          <p>Bank Account<br>Transfer</p>
        </div>
        <div class="info-specific">
          <%= image_tag 'five.png', height:'35px' %>
          <%= image_tag 'truck.png', height:'100px' %>
          <p>Contactless Delivery</p>
          <p><b>Saturday<br>6-8:30am</b></p>
        </div>
      </div>
    </div>
    <div class="button-special">
      <a href="/contact/new">Sign Up For Delivery</a>
    </div>
  </div>
</div>
<!-- <script>

function resizehome () {
  parentHeightHome = document.getElementById('boxinside-del').offsetHeight;
    if (parentHeightHome > 200){
      console.log(parentHeight)
      document.querySelector('#boxinside-del').style.position = "inherit";
    } else {
      document.querySelector('#boxinside-del').style.position = "absolute";
    }
}

window.onresize = resizehome;
</script> -->
