<div class="home">
  <div class="parallax-window">
    <%= image_tag 'macaroncloseoverlay.png' %>
    <div class="text">
      <p>MACARONS</p>
      <h3>Made with a french<br>savoir faire</h3>
      <div class="button">
        <a href="/contact/new">Order Now</a>
      </div>
    </div>
  </div>
</div>
<div class="container-macaron">
  <div class="photo-left">
    <div class="photo">
      <%= image_tag 'macaronclose.png', height: '700px'%>
    </div>
    <div class="text-box">
      <div id='boxinside-del'>
        <div class='boxtext-delivery'>
          <h3>SIMPLY THE BEST BISCUIT.</h3><br>
          <p>Made with gluten-free ingredients, these sweets treats are perfect for enjoying and sharing with your family and friends.<br><br>
          Inspired by the sin of Gourmandise.<br><br>Parisian macarons are decadent almond based gateau with a crispy outside shell of meringue and a soft chewy inside that melts in your mouth. These skillfully crafted treats are perfect paired with an afternoon tea, or as the main event after dinner.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="macaron-slider">
  <div class="macaron-background"></div>
  <h2>Classic Macarons</h2>
  <div class="slider">
    <div class="macarons">
      <div class="mac">
        <%= image_tag 'chocolate.jpg' %>
        <p>Chocolate</p>
      </div>
      <div class="mac">
        <%= image_tag 'caramel.jpg' %>
        <p>Salt Caramel</p>
      </div>
      <div class="mac">
        <%= image_tag 'pistachio.jpg' %>
        <p>Pistachio</p>
      </div>
      <div class="mac">
        <%= image_tag 'rasp.jpg' %>
        <p>Raspberry</p>
      </div>
      <div class="mac">
        <%= image_tag 'passionfruit.jpg' %>
        <p>Passionfruit</p>
      </div>
      <div class="mac">
        <%= image_tag 'pb.jpg' %>
        <p>Peanut Butter</p>
      </div>
    </div>
  </div>
</div>
<div class="macaron-slider">
  <div class="macaron-background"></div>
  <h2>Chocolate Macarons</h2>
  <div class="slider">
    <div class="macarons">
      <div class="mac">
        <%= image_tag 'chocolate.jpg' %>
        <p>Dark<br> Chocolate</p>
      </div>
      <div class="mac">
        <%= image_tag 'chocolate.jpg' %>
        <p>Peppermint Caramel</p>
      </div>
      <div class="mac">
        <%= image_tag 'violette.jpeg' %>
        <p>Violette Chocolate</p>
      </div>
      <div class="mac">
        <%= image_tag 'chocorange.jpg' %>
        <p>Orange Chocolate</p>
      </div>
      <div class="mac">
        <%= image_tag 'chili.jpg' %>
        <p>Chili Coco Chocolate</p>
      </div>
      <div class="mac">
        <%= image_tag 'chocolate.jpg' %>
        <p>Bounty Coco Chocolate</p>
      </div>
    </div>
  </div>
</div>
<div class="price-box">
  <div class="price-box-header">
    <h1>PRICES</h1>
    <h5 style='color: white;'>FOR OUR DELICIOUS MACARONS</h5>
  </div>
  <div class="price-boxes">
    <div class="price">
      <div class="price-head">
      <h2>KITCHEN</h2>
      <h5>In Napier</h5>
      </div>
      <div class="price-low">
      <h2>$2.50</h2>
      <p>For 1 Macaron</p>
      <h5>All Year Long</h5>
      <h5>While Supplies Last</h5>
      </div>
    </div>
    <div class="price">
      <div class="price-head">
      <h2>MARKET</h2>
      <h5>Every Sunday</h5>
      </div>
      <div class="price-low">
      <h2>$3.00</h2>
      <p>For 1 Macaron</p>
      <h5>$20 for 8 Macarons</h5>
      <h5>$60 for 24 Macarons</h5>
      </div>
    </div>
    <div class="price">
      <div class="price-head">
      <h2>DELIVERY</h2>
      <h5>To Your Home</h5>
      </div>
      <div class="price-low">
      <h2>NA</h2>
      <p>For 1 Macaron</p>
      <h5>$75 for 24 Macarons</h5>
      <h5>$145 for 48 Macarons + Free Shipping</h5>
      </div>
    </div>
  </div>
    <div class="button">
      <a href="/contact/new">Order Now</a>
    </div>
</div>
