<div class="parallax-macaron">
  <h1 class="macaron-title-word">Macarons</h1>
  <p class="macaron-title-sentence">Made With French Savoir Faire</p>
</div>

<div class="container">
  <div class="macaron-text">
    <div class="macaron-text-section">
    <p class="macaron-info">Simply <b class="bold">the Best</b> Biscuit in the world.<br><br> Made with gluten-free ingredients, these sweets treats are perfect for enjoying<br> and sharing with your family and friends.<br><br>
      Inspired by the sin of Gourmandise.<br><br>
      Parisian macarons are decadent almond based gateau with a crispy outside shell of meringue and a soft chewy inside that melts in your mouth. These skillfully crafted treats are perfect paired with an afternoon tea, or as the main event after dinner.<br>
    </p>
    </div>
    <h3>Classic Macarons</h3>
    <ul class="classic-macarons">
      <li class="macaron"><%= image_tag 'Chocolate_Macaron.jpg', style:'max-height:200px;'%><h4>Chocolate</h4><p>Packed full of rich chocolate ganache...</p></li>
      <li class="macaron"><%= image_tag 'Caramel-Macaron.jpg', style:'max-height:200px;'%><h4>Salt Caramel</h4><p>A Brittany recipe with NZ ingredients.</p></li>
      <li class="macaron"><%= image_tag 'Pistachio_Macaron.jpg', style:'max-height:200px;'%><h4>Pistachio</h4><p>As good as the ice-cream at home!</p></li>
      <li class="macaron"><%= image_tag 'Raspberry_Macaron.jpg', style:'max-height:200px;'%><h4>Raspberry</h4><p>A ring of butter cream with jam in the middle.</p></li>
      <li class="macaron"><%= image_tag 'Passionfruit-Macaron.jpg', style:'max-height:200px;'%><h4>Passionfruit</h4><p>Laced with dry powdered passionfruit.</p></li>
      <li class="macaron"><%= image_tag 'Peanut_Butter_Macaron.jpg', style:'max-height:200px;'%><h4>Peanut Butter</h4><p>With organic smooth peanut paste.</p></li>
    </ul>
    <h3>Chocolate Macarons</h3>
    <ul class="chocolate-macarons">
      <li class="macaron"><%= image_tag 'Chocolate_Macaron.jpg', style:'max-height:200px;'%><h4>Dark Chocolate</h4><p>Full of decadent dark chocolate ganache.</p></li>
      <li class="macaron"><%= image_tag 'Chocolate_Macaron.jpg', style:'max-height:200px;'%><h4>Peppermint Chocolate</h4><p>With a drop of peppermint essence.</p></li>
      <li class="macaron"><%= image_tag 'violette_choco_macarons.jpg', style:'max-height:200px;'%><h4>Violette Chocolate</h4><p>With the association of Violette flower.</p></li>
      <li class="macaron"><%= image_tag 'choc-orange-macaron.jpg', style:'max-height:200px;'%><h4>Chocolate Orange</h4><p>For the lovers of classic Jaffa Biscuits.</p></li>
      <li class="macaron"><%= image_tag 'Choco_Chilli_Macaron.jpg', style:'max-height:200px;'%><h4>Chili Coco Chocolate</h4><p>Spiked with chilli, for the spicy people.</p></li>
      <li class="macaron"><%= image_tag 'Chocolate_Macaron.jpg', style:'max-height:200px;'%><h4>Bounty Coco Chocolate</h4><p>Choco with coconut choco ganache.</p></li>
    </ul>
  </div>
</div>

<div class=parallax-macaron-2>
<div class="macaron-prices">
  <div class="prices-box-format">
    <div class="prices-box">
      <div class="prices-top-info">
        <h3>Prices</h3>
        <h6 style="font-family: 'Lato';">✨ FOR OUR DELICIOUS MACARONS ✨</h6>
      </div>
      <div class="prices-grid">
        <div class="kitchen-prices">
          <h3>Kitchen</h3>
          <p>In Napier</p>
          <hr class="test">
          <h3>$2.50</h3>
          <p class="one-macaron">for 1 Macaron</p>
          <li><p>All year long</p></li>
          <li><p>While supplies last</p></li>
          <li><p></p></li>
          <li><p></p></li>
        </div>
         <div class="market-prices">
          <h3>Market</h3>
          <p>Every Sunday</p>
           <hr class="test">
          <h3>$3.00</h3>
          <p class="one-macaron">for 1 Macaron</p>
          <li><p>$20 for 8 Macarons</p></li>
          <li><p>$60 for 24 Macarons</p></li>
          <li><p></p></li>
          <li><p></p></li>
        </div>
         <div class="delivery-prices">
          <h3>Delivery</h3>
          <p>To Your Home</p>
          <hr class="test">
          <h3>NA</h3>
          <p class="one-macaron">for 1 Macaron</p>
          <li><p>$75 for 24 Macarons</p></li>
          <li><p>$145 for 48 Macarons + Free Shipping</p></li>
          <li><p></p></li>
          <li><p></p></li>
        </div>
      </div>
      <div class="button">
        <a href="/contactorders" class="buy-now-button">BUY OUR MACARONS NOW</a>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.macaron-prices', { delay: 500, distance: '200px', origin: 'left', easing: 'ease-in'})
  ScrollReveal().reveal('.macaron-info', { delay: 500, distance: '200px', origin: 'right', easing: 'ease-in'})
</script>
