<div class="container">
  <h1 class="contact-title">Contact & Orders</h1>
<div class="contact-grid">
  <div class="contact-info">
  <div class="contact-image">
    <%= image_tag 'macaron-contact.jpg' %>
  </div>
    <p> We now deliver Macarons across the Nth. Island!<br>For Macaron shipping & prices please see details <a href="pages/macaron">here.</a><br><br>
    For Saturday Morning Home Delivery<br> please see details <a href="pages/homedelivery">here.</a><br><br>
    For all general enquiries and Maracon orders, or enquiries about Corporate Functions & Wedding Catering please fill out the form.</p>
<!--     <div class="contact-links">
      <a href="mailto:macaron.monsieur@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a>
      <a href="https://www.instagram.com/monsieurmacaron/"><i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="https://www.facebook.com/mrmacnz"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="tel:+64 210 822 0001"><i class="fas fa-phone-square-alt fa-2x"></i></a>
    </div> -->
  </div>
  <div class="contact-form">
    <%= simple_form_for @contact do |f| %>
      <% if flash[:error].present? %>
        <p> Please correctly complete the fields below</p>
      <% end %>
      <div class="form-row">
        <div class="col">
          <%= f.input :firstname, label:"First Name", error: 'First name is mandatory, please specify one', required: true, class:"form-control"%> <br>
        </div>
        <div class="col">
          <%= f.input :lastname, label:"Last Name", error: 'Last name is mandatory, please specify one', class:"form-control"%> <br>
        </div>
        <div class="col">
          <%= f.input :phone, label:"Phone Number", error: 'Please enter your phone number', class:"form-control"%> <br>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.input :email, label:'Your Email', required: false %> <br>
        </div>
        <div class="col">
          <%= f.input :type, collection:["General Questions & Messages", "Macaron Orders Events", "Weddings & Functions"], label:'How can we help?', error: 'Please select an option from the list', required: true%> <br>
        </div>
      </div>
      <div class="form-text">
        <%= f.label 'Orders & Questions', required: true %>
        <%= f.text_area(:message, rows: 3, class:"form-control")%> <br>
      </div>
      <div class="send-button">
        <%= f.submit 'SEND', class: "send-btn" %>
      </div>
    <% end %>
  </div>
</div>
</div>

<script>
  ScrollReveal().reveal('.contact-image', { delay: 500, distance: '200px', origin: 'top', easing: 'ease-in'})
</script>
